--
-- PostgreSQL database dump
--

\restrict P5lLrMedNQkjItMs3u8t71CDptRf6CiZwCm7qJx4KwWZ7lfrKzKSs8rLUXWQLWl

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO django_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO django_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO django_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO django_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO django_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO django_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO django_user;

--
-- Name: mi_app_libro; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_libro (
    id bigint NOT NULL,
    isbn character varying(20) NOT NULL,
    titulo character varying(255) NOT NULL,
    autor character varying(100) NOT NULL,
    categoria character varying(50) NOT NULL
);


ALTER TABLE public.mi_app_libro OWNER TO django_user;

--
-- Name: mi_app_libro_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_libro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_libro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_prestamo; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_prestamo (
    id bigint NOT NULL,
    fecha_prestamo timestamp with time zone NOT NULL,
    fecha_devolucion_esperada date NOT NULL,
    fecha_devolucion_real date,
    estado character varying(20) NOT NULL,
    libro_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.mi_app_prestamo OWNER TO django_user;

--
-- Name: mi_app_prestamo_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_prestamo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_prestamo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_reserva; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_reserva (
    id bigint NOT NULL,
    fecha_reserva timestamp with time zone NOT NULL,
    fecha_vencimiento date,
    estado character varying(20) NOT NULL,
    libro_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.mi_app_reserva OWNER TO django_user;

--
-- Name: mi_app_reserva_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_reserva ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_reserva_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_rol; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_rol (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.mi_app_rol OWNER TO django_user;

--
-- Name: mi_app_rol_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_rol ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_rol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_usuario; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    estado character varying(20) NOT NULL
);


ALTER TABLE public.mi_app_usuario OWNER TO django_user;

--
-- Name: mi_app_usuario_groups; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.mi_app_usuario_groups OWNER TO django_user;

--
-- Name: mi_app_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_usuario_user_permissions; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.mi_app_usuario_user_permissions OWNER TO django_user;

--
-- Name: mi_app_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mi_app_usuariorol; Type: TABLE; Schema: public; Owner: django_user
--

CREATE TABLE public.mi_app_usuariorol (
    id bigint NOT NULL,
    rol_id bigint NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.mi_app_usuariorol OWNER TO django_user;

--
-- Name: mi_app_usuariorol_id_seq; Type: SEQUENCE; Schema: public; Owner: django_user
--

ALTER TABLE public.mi_app_usuariorol ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mi_app_usuariorol_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2025-12-02 01:26:44.688571-03	2	Cliente1	1	[{"added": {}}]	8	1
2	2025-12-02 01:26:57.224398-03	1	UsuarioRol object (1)	1	[{"added": {}}]	11	1
3	2025-12-02 18:00:37.54377-03	2	Cliente1	2	[{"changed": {"fields": ["Password"]}}]	8	1
4	2025-12-02 23:53:23.59941-03	3	Administrador1	1	[{"added": {}}]	8	1
5	2025-12-02 23:53:34.758388-03	2	UsuarioRol object (2)	1	[{"added": {}}]	11	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	mi_app	libro
7	mi_app	rol
8	mi_app	usuario
9	mi_app	prestamo
10	mi_app	reserva
11	mi_app	usuariorol
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: mi_app_libro; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_libro (id, isbn, titulo, autor, categoria) FROM stdin;
\.


--
-- Data for Name: mi_app_prestamo; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_prestamo (id, fecha_prestamo, fecha_devolucion_esperada, fecha_devolucion_real, estado, libro_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: mi_app_reserva; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_reserva (id, fecha_reserva, fecha_vencimiento, estado, libro_id, usuario_id) FROM stdin;
\.


--
-- Data for Name: mi_app_rol; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_rol (id, nombre) FROM stdin;
1	Admin
2	Cliente
3	Administrador
\.


--
-- Data for Name: mi_app_usuario; Type: TABLE DATA; Schema: public; Owner: django_user
--



--
-- Data for Name: mi_app_usuario_groups; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: mi_app_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Data for Name: mi_app_usuariorol; Type: TABLE DATA; Schema: public; Owner: django_user
--

COPY public.mi_app_usuariorol (id, rol_id, usuario_id) FROM stdin;
1	2	2
2	3	3
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 44, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 5, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 11, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 19, true);


--
-- Name: mi_app_libro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_libro_id_seq', 1, false);


--
-- Name: mi_app_prestamo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_prestamo_id_seq', 1, false);


--
-- Name: mi_app_reserva_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_reserva_id_seq', 1, false);


--
-- Name: mi_app_rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_rol_id_seq', 3, true);


--
-- Name: mi_app_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_usuario_groups_id_seq', 1, false);


--
-- Name: mi_app_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_usuario_id_seq', 3, true);


--
-- Name: mi_app_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_usuario_user_permissions_id_seq', 1, false);


--
-- Name: mi_app_usuariorol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: django_user
--

SELECT pg_catalog.setval('public.mi_app_usuariorol_id_seq', 2, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: mi_app_libro mi_app_libro_isbn_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_libro
    ADD CONSTRAINT mi_app_libro_isbn_key UNIQUE (isbn);


--
-- Name: mi_app_libro mi_app_libro_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_libro
    ADD CONSTRAINT mi_app_libro_pkey PRIMARY KEY (id);


--
-- Name: mi_app_prestamo mi_app_prestamo_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_prestamo
    ADD CONSTRAINT mi_app_prestamo_pkey PRIMARY KEY (id);


--
-- Name: mi_app_reserva mi_app_reserva_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_reserva
    ADD CONSTRAINT mi_app_reserva_pkey PRIMARY KEY (id);


--
-- Name: mi_app_rol mi_app_rol_nombre_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_rol
    ADD CONSTRAINT mi_app_rol_nombre_key UNIQUE (nombre);


--
-- Name: mi_app_rol mi_app_rol_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_rol
    ADD CONSTRAINT mi_app_rol_pkey PRIMARY KEY (id);


--
-- Name: mi_app_usuario_groups mi_app_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_groups
    ADD CONSTRAINT mi_app_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: mi_app_usuario_groups mi_app_usuario_groups_usuario_id_group_id_d9dc858c_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_groups
    ADD CONSTRAINT mi_app_usuario_groups_usuario_id_group_id_d9dc858c_uniq UNIQUE (usuario_id, group_id);


--
-- Name: mi_app_usuario mi_app_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario
    ADD CONSTRAINT mi_app_usuario_pkey PRIMARY KEY (id);


--
-- Name: mi_app_usuario_user_permissions mi_app_usuario_user_perm_usuario_id_permission_id_6f3ef02d_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_user_permissions
    ADD CONSTRAINT mi_app_usuario_user_perm_usuario_id_permission_id_6f3ef02d_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: mi_app_usuario_user_permissions mi_app_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_user_permissions
    ADD CONSTRAINT mi_app_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: mi_app_usuario mi_app_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario
    ADD CONSTRAINT mi_app_usuario_username_key UNIQUE (username);


--
-- Name: mi_app_usuariorol mi_app_usuariorol_pkey; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuariorol
    ADD CONSTRAINT mi_app_usuariorol_pkey PRIMARY KEY (id);


--
-- Name: mi_app_usuariorol mi_app_usuariorol_usuario_id_rol_id_dd1579d1_uniq; Type: CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuariorol
    ADD CONSTRAINT mi_app_usuariorol_usuario_id_rol_id_dd1579d1_uniq UNIQUE (usuario_id, rol_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: mi_app_libro_isbn_3a11b7fb_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_libro_isbn_3a11b7fb_like ON public.mi_app_libro USING btree (isbn varchar_pattern_ops);


--
-- Name: mi_app_prestamo_libro_id_6239db24; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_prestamo_libro_id_6239db24 ON public.mi_app_prestamo USING btree (libro_id);


--
-- Name: mi_app_prestamo_usuario_id_fffbea10; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_prestamo_usuario_id_fffbea10 ON public.mi_app_prestamo USING btree (usuario_id);


--
-- Name: mi_app_reserva_libro_id_7738f445; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_reserva_libro_id_7738f445 ON public.mi_app_reserva USING btree (libro_id);


--
-- Name: mi_app_reserva_usuario_id_21062385; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_reserva_usuario_id_21062385 ON public.mi_app_reserva USING btree (usuario_id);


--
-- Name: mi_app_rol_nombre_9b3d8cd7_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_rol_nombre_9b3d8cd7_like ON public.mi_app_rol USING btree (nombre varchar_pattern_ops);


--
-- Name: mi_app_usuario_groups_group_id_9796157c; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuario_groups_group_id_9796157c ON public.mi_app_usuario_groups USING btree (group_id);


--
-- Name: mi_app_usuario_groups_usuario_id_0ed33dbe; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuario_groups_usuario_id_0ed33dbe ON public.mi_app_usuario_groups USING btree (usuario_id);


--
-- Name: mi_app_usuario_user_permissions_permission_id_73cf71b4; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuario_user_permissions_permission_id_73cf71b4 ON public.mi_app_usuario_user_permissions USING btree (permission_id);


--
-- Name: mi_app_usuario_user_permissions_usuario_id_955b8a21; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuario_user_permissions_usuario_id_955b8a21 ON public.mi_app_usuario_user_permissions USING btree (usuario_id);


--
-- Name: mi_app_usuario_username_490e06ac_like; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuario_username_490e06ac_like ON public.mi_app_usuario USING btree (username varchar_pattern_ops);


--
-- Name: mi_app_usuariorol_rol_id_9c945c4c; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuariorol_rol_id_9c945c4c ON public.mi_app_usuariorol USING btree (rol_id);


--
-- Name: mi_app_usuariorol_usuario_id_12dc9d44; Type: INDEX; Schema: public; Owner: django_user
--

CREATE INDEX mi_app_usuariorol_usuario_id_12dc9d44 ON public.mi_app_usuariorol USING btree (usuario_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_mi_app_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_mi_app_usuario_id FOREIGN KEY (user_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_prestamo mi_app_prestamo_libro_id_6239db24_fk_mi_app_libro_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_prestamo
    ADD CONSTRAINT mi_app_prestamo_libro_id_6239db24_fk_mi_app_libro_id FOREIGN KEY (libro_id) REFERENCES public.mi_app_libro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_prestamo mi_app_prestamo_usuario_id_fffbea10_fk_mi_app_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_prestamo
    ADD CONSTRAINT mi_app_prestamo_usuario_id_fffbea10_fk_mi_app_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_reserva mi_app_reserva_libro_id_7738f445_fk_mi_app_libro_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_reserva
    ADD CONSTRAINT mi_app_reserva_libro_id_7738f445_fk_mi_app_libro_id FOREIGN KEY (libro_id) REFERENCES public.mi_app_libro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_reserva mi_app_reserva_usuario_id_21062385_fk_mi_app_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_reserva
    ADD CONSTRAINT mi_app_reserva_usuario_id_21062385_fk_mi_app_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuario_groups mi_app_usuario_groups_group_id_9796157c_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_groups
    ADD CONSTRAINT mi_app_usuario_groups_group_id_9796157c_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuario_groups mi_app_usuario_groups_usuario_id_0ed33dbe_fk_mi_app_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_groups
    ADD CONSTRAINT mi_app_usuario_groups_usuario_id_0ed33dbe_fk_mi_app_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuario_user_permissions mi_app_usuario_user__permission_id_73cf71b4_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_user_permissions
    ADD CONSTRAINT mi_app_usuario_user__permission_id_73cf71b4_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuario_user_permissions mi_app_usuario_user__usuario_id_955b8a21_fk_mi_app_us; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuario_user_permissions
    ADD CONSTRAINT mi_app_usuario_user__usuario_id_955b8a21_fk_mi_app_us FOREIGN KEY (usuario_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuariorol mi_app_usuariorol_rol_id_9c945c4c_fk_mi_app_rol_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuariorol
    ADD CONSTRAINT mi_app_usuariorol_rol_id_9c945c4c_fk_mi_app_rol_id FOREIGN KEY (rol_id) REFERENCES public.mi_app_rol(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mi_app_usuariorol mi_app_usuariorol_usuario_id_12dc9d44_fk_mi_app_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: django_user
--

ALTER TABLE ONLY public.mi_app_usuariorol
    ADD CONSTRAINT mi_app_usuariorol_usuario_id_12dc9d44_fk_mi_app_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.mi_app_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO django_user;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO django_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO django_user;


--
-- PostgreSQL database dump complete
--

\unrestrict P5lLrMedNQkjItMs3u8t71CDptRf6CiZwCm7qJx4KwWZ7lfrKzKSs8rLUXWQLWl

